VotGESOrders/Service References/CranService/CranService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VotGESOrders.Web.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VotGESOrders.Web.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8090/CranService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="CranFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="tns:ArrayOfCranTaskInfo" />
      <xs:element minOccurs="0" name="DateEnd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateStart" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CranFilter" nillable="true" type="tns:CranFilter" />
  <xs:complexType name="ArrayOfCranTaskInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CranTaskInfo" nillable="true" type="tns:CranTaskInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCranTaskInfo" nillable="true" type="tns:ArrayOfCranTaskInfo" />
  <xs:complexType name="CranTaskInfo">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AgreeDict" nillable="true" type="q1:ArrayOfKeyValueOfintstring" />
      <xs:element minOccurs="0" name="AgreeUsersIDS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgreeUsersText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AllowDateEnd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AllowDateStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Allowed" type="xs:boolean" />
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AuthorAllow" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CranNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Denied" type="xs:boolean" />
      <xs:element minOccurs="0" name="Manager" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NeedEndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NeedStartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="canChange" type="xs:boolean" />
      <xs:element minOccurs="0" name="canCheck" type="xs:boolean" />
      <xs:element minOccurs="0" name="change" type="xs:boolean" />
      <xs:element minOccurs="0" name="changed" type="xs:boolean" />
      <xs:element minOccurs="0" name="check" type="xs:boolean" />
      <xs:element minOccurs="0" name="init" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CranTaskInfo" nillable="true" type="tns:CranTaskInfo" />
  <xs:complexType name="ReturnMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnMessage" nillable="true" type="tns:ReturnMessage" />
</xs:schema>